<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grading Application</title>
</head>
<body>

<h1>Edit an existing grade</h1>
<form th:action="@{/grades/update}" th:object="${userGradeDto}" method="post">
    <p>Id: <input type="text" th:readonly="true" th:field="${userGradeDto.id}"/></p>
    <p>Student Name: <select name="student_id" id="studentId" th:field="${userGradeDto.student_id}">
        <option th:each="student: ${students}" th:value="${student.id}" th:id="studentId"
                th:text="${student.firstName} + ' ' +${student.lastName}">
        </option>
    </select></p>
    <p>Subject Name: <select name="subject_id" id="subjectId" th:field="${userGradeDto.subject_id}">
        <option th:each="subject: ${subjects}" th:value="${subject.id}" th:id="subjectId"
                th:text="${subject.subjectName}">
        </option>
    </select></p>
    <p>Details: <select name="subjectdetailid" id="subjectdetailid" th:field="${userGradeDto.subjectdetailid}">
        <option th:each="detail: ${details}" th:value="${detail.id}" th:id="subjectdetailid"
                th:text="'Year:' + ${detail.year} + ' Semester: ' +${detail.semester}">
        </option>
    </select></p>
    <p>Grade: <input type="number" id="grade" th:field="${userGradeDto.grade}"/></p>
    <div th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"/>
    <button>Save</button>
</form>

<div th:if="${param.success}">
    Grade successfully updated!
</div>

<a th:href="@{/grades}">List of grades</a>
</body>
</html>