<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grading Application</title>
</head>
<body>
<h1>Edit user</h1>
<h3>Personal information</h3>
<form th:action="@{/student/updateStudent}" th:object="${studentDto}" method="post">
    <p>Id: <input type="text" th:readonly="true" th:field="${studentDto.id}"/></p>
    <p>Username: <input type="text" th:readonly="true" th:field="${studentDto.username}"/></p>
    <p>First name: <input type="text" th:field="${studentDto.firstName}"/></p>
    <p>Last name: <input type="text" th:field="${studentDto.lastName}"/></p>
    <p>Email: <input type="text" th:field="${studentDto.email}"></p>
    <p>
        <button>Save</button>
    </p>
</form>

<div th:if="${param.success}">
    Information successfully updated!
</div>

<a th:href="@{/student}">Back</a>

</body>
</html>