<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grading Application</title>
</head>
<body>
<h1>Add a new teacher</h1>
<form th:action="@{/teachers/create}" th:object="${teacherDto}" method="post">
    <p> Username: <input type="text" name="username" th:field="${teacherDto.username}"/></p>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
    <p> First Name: <input type="text" name="firstName" th:field="${teacherDto.firstName}"/></p>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
    <p> Last Name: <input type="text" name="lastName" th:field="${teacherDto.lastName}"/></p>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
    <p> Email: <input type="text" name="email" th:field="${teacherDto.email}"/></p>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
    <button>Create</button>
</form>

<div th:if="${param.success}">
    Teacher created successfully!
</div>
<a th:href="@{/teachers}">List of teachers</a>
</body>
</html>