<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grading Application</title>
</head>
<body>
<h1>Grade a student</h1>
<form th:action="@{/teacher/create}" th:object="${gradeDto}" method="post">
    <p>Student Name: <select name="student_id" id="student_id" th:field="${gradeDto.student_id}">
        <option th:each="student: ${students}" th:value="${student.id}" th:id="student_id"
                th:text="${student.firstName} + ' ' +${student.lastName}"></option>
    </select>
    </p>

    <p>Subject Name: <select name="subject_id" id="subject_id" th:field="${gradeDto.subject_id}">
        <option th:each="subject: ${subject}" th:value="${subject.id}" th:id="subject_id"
                th:text="${subject.subjectName}"></option>
    </select>
    </p>

    <p> Details:
        <select name="subjectdetailid" id="subjectdetailid" th:field="${gradeDto.subjectdetailid}">
            <option th:each="detail: ${details}" th:value="${detail.id}" th:id="subjectdetailid"
                    th:text="'Year' + ${detail.year}+ ' Semester '+${detail.semester}"></option>
        </select>
    </p>

    <p>Grade:
        <input type="text" th:field="${gradeDto.grade}">
    </p>
    <button>Create</button>
</form>

<a th:href="@{/teacher}">List of grades</a>

</body>
</html>